<div class="main-page" style="background-color: #1F52AB;">
    <div class="up-page">
        <div class="main-page-left">
            <h2>Me envie uma menssagem!</h2>
            <app-form *ngIf="!finished, else showSucess" (finishContact)="onFinishContact()">
            </app-form>
            <ng-template #showSucess>
                <div class="sucess-screen">
                    <fa-icon style="color: white;" class="fa-10x fa-rotate-by-45" [icon]="faCheck"></fa-icon>
                </div>
            </ng-template>
        </div>
        <div class="vertical-line"></div>
        <div class="main-page-right">
            <h2>Outras formas de contato:</h2>
            <div class="social">
                <div style="display: flex; justify-content: space-around; margin-top: 20px;">
                    <a href="https://github.com/enzojga" target="_blank">
                        <img src={{icons.github}} alt="github">
                    </a>
                    <a href="https://www.linkedin.com/in/enzo-araujo-b8422318a/" target="_blank">
                        <img src={{icons.linkedin}} alt="linkedin">
                    </a>            
                </div>
                <h2>enzo202p@gmail.com</h2>
            </div>
        </div>    
    </div>
</div>