<footer class="footer">
    <div class="contact">
        <span>Contato:</span>
        <a href="https://github.com/enzojga" target="_blank">
            <img src={{icons.github}} alt="github">
        </a>
        <a href="https://www.linkedin.com/in/enzo-araujo-b8422318a/" target="_blank">
            <img src={{icons.linkedin}} alt="linkedin">
        </a>
        <a href="https://wa.me/5521990521525" target="_blank">
            <img src={{icons.wpp}} alt="whats app">
        </a>
        <span style="display: flex;">E-mail: <p>enzo202p@gmail.com</p></span>
    </div>
    <div class="tecnologies">
        <span>Esse site utiliza as tecnologias:</span>
        <div>
            <img src={{icons.angular}} alt="angular">
            <img src={{icons.typeScript}} alt="typeScript">
            <img src={{icons.aws}} alt="aws">
        </div>
    </div>
</footer>
