.header {
    width: 100vw;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1F52AB;
    font-size: 2em;
    font-weight: 600;
    box-shadow: 0px 1px 12px 0px rgb(76 83 167 / 50%);
    z-index: 3;
    border-bottom: 2px solid black;
}

.blue-container {
    width: 10vw;
    height: 3vh;
    background-color: #1F52AB;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div {
    display: flex;
}

.header div h3 {
    margin-right: 15px;
    cursor: pointer;
}

.button-header {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width:600px){
    .button-header {
        position: fixed;
        top: 1px;
        right: 10px;
        z-index: 4;
        display: flex;
        transition: .5s all;
        transform: rotateZ(0deg);
    }
    .button-header svg {
        width: 50px;
        height: 50px;
    }
    .header {
        width: 0%;
        display: none;
    }
    .blue-container {
        display: none;
    }
    .header div {
        margin: 50px 0 0 10px;
        flex-direction: column;
    }
    .header div h3 {
        margin-right: 0;
        cursor: pointer;
        font-size: 1em;
    }
    .mobile-header {
        display: flex;
        min-height: 20vh;
        justify-content: start;
        align-items: start;
        width: 100vw;
    }
    .rotation {
        transition: .5s;
        transform: rotateZ(45deg);
    }
}