<header class="header" [ngClass]="mobileHeader()">
    <a routerLink=""><span class="blue-container">
        Home
    </span></a>
    <div>
        <a routerLink=""><h3>Home</h3></a>
        <a routerLink="education"><h3>Educação</h3></a>
        <a routerLink="projects"><h3>Projetos</h3></a>
        <a routerLink="contact"><h3>Contato</h3></a>
    </div>
</header>
<div class="button-header" role="button" [ngClass]="class" (click)="changeShowMobileHeader()">
    <fa-icon style="color: #1F52AB;" class="fa-3x fa-rotate-by-45" [icon]="faXmark "></fa-icon>
</div>
