<div class="main-page">
    <div class="up-page">
        <div class="main-page-left">
            <h2>Enzo Araujo</h2>
            <div class="horizontal-line"></div>
            <p>Desenvolvedor Full Stack</p>
        </div>
        <div class="vertical-line"></div>
        <div class="main-page-right">
        </div>
    </div>
    <div class="arrows">
        <fa-icon style="align-self: center;" [icon]="faAnglesDown" class="fa-6x"></fa-icon>
    </div>
    <div class="blue-containenr"></div>
</div>
