.icons {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}

h1 {
    color: white;
    font-weight: 800;
    font-size: 1.9em;
}

.icon {
    width: 60px;
    height: 60px;
    margin: 20px 20px 0 0;
}

.info {
    width: 90vw;
}

@media (max-width:600px){
    .info {
        width: 100vw;
    }
    .info > img {
        width: 100vw;
        height: 40%;
        margin: 0;
        border-radius: 0;   
    }
    .info {
        flex-direction: column;
    }
    .info > div {
        margin-left: 0;
    }    
    .icons {
        width: 100vw;
        justify-content: center;
        margin-bottom: 20px;
    }
    .info p {
        font-size: 1.2em;
        max-width: 90%;
        margin-left: 5%;
    }
    .info h2 {
        font-size: 1.5em;
        margin-left: 5%;
    }
    .icon {
        width: 60px; 
        height: 60px;
        margin: 0px 10px 10px 10px;
    }
}